/* Popup.module.css */
.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popupContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
  }
  
  .popupHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .popupBody {
    margin-bottom: 20px;
  }
  
  .popupFooter {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }